numpy==1.14.5
Babel==2.6.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
dj-database-url==0.5.0
Django==2.2.2
django-cors-headers==3.0.2
django-heroku==0.3.1
djangorestframework==3.9.4
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
ezodf==0.3.2
fastcache==1.0.2
filelock==3.0.4
Flask==1.0.2
Flask-Cors==3.0.6
future==0.16.0
gast==0.2.0
gensim==3.7.3
gevent==1.3.6
glob2==0.6
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-pasta==0.1.5
grpcio==1.12.1
gunicorn==19.9.0
h5py==2.8.0
heapdict==1.0.0
html5lib==0.9999999
httplib2==0.12.3
hyperlink==18.0.0
hypothesis==3.59.1
idna==2.7
imageio==2.3.0
imagesize==1.0.0
imutils==0.4.5
incremental==17.5.0
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.12.1
jsonify==0.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.34.1
jupyterlab-launcher==0.13.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==13.2.1
mahotas==1.4.5
mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.6.0
numba==0.39.0
numexpr==2.6.7
numpydoc==0.8.0
oauthlib==3.0.1
odo==0.5.1
olefile==0.45.1
opencv-python==3.4.0
openpyxl==2.5.5
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
paramz==0.9.2
parso==0.3.1
partd==0.3.8
path.py==11.0.1
pathlib2==2.3.2
patsy==0.5.0
pep8==1.7.1
pickleshare==0.7.4
Pillow==5.4.1
pkginfo==1.4.2
plac==1.0.0
plotly==3.2.0
pluggy==0.7.1
ply==3.11
progress==1.4
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.4.7
psycopg2==2.8.2
py==1.5.4
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyAutoGUI==0.9.36
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.2
pydensecrf==1.0rc3
pydot==1.2.4
pyflakes==2.0.0
pyglet==1.2.0
Pygments==2.2.0
pygpu==0.7.6
PyHamcrest==1.9.0
PyJWT==1.7.1
pylint==2.1.1
pymc3==3.5
Pympler==0.5
PyMsgBox==1.0.6
pyodbc==4.0.24
pyOpenSSL==18.0.0
pyparsing==2.2.0
pypiwin32==220
PyScreeze==0.1.13
PySocks==1.6.8
pytest==3.7.2
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
PyTweening==1.0.3
pytz==2018.5
PyWavelets==0.5.2
pywin32==223
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.4.4
qtconsole==4.4.0
QtPy==1.4.2
requests==2.19.1
requests-oauthlib==1.2.0
retrying==1.3.3
rope==0.11.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.0
sacrebleu==1.2.11
scikit-fuzzy==0.4.0
scikit-image==0.13.1
scikit-learn==0.19.2
scikit-plot==0.3.7
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.8.3
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.4
SoundFile==0.9.0.post1
sox==1.3.2
sparsesvd==0.2.2
Sphinx==1.7.7
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.10
sqlparse==0.3.0
statsmodels==0.9.0
stemming==1.0.1
style==1.1.0
sumeval==0.1.7
sympy==1.2
tables==3.4.4
tb-nightly==1.14.0a20190301
tblib==1.3.2
tensorboard==1.10.0
tensorflow==1.11.0rc2
tensorflow-gpu==1.10.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tf-estimator-nightly==1.14.0.dev2019030115
tflearn==0.3.2
Theano==1.0.2+2.gc449c8699
toolz==0.9.0
torchvision==0.2.0
tornado==5.1
tqdm==4.19.5
traitlets==4.3.2
tweepy==3.7.0
Twisted==18.7.0
typed-ast==1.1.0
typing==3.6.4
unicodecsv==0.14.1
update==0.0.1
uritemplate==3.0.0
urllib3==1.23
virtualenv==16.6.0
waitress==1.3.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
whitenoise==4.1.2
widgetsnbextension==3.4.0
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
xgboost==0.72
xlrd==1.1.0
XlsxWriter==1.0.7
xlwings==0.11.8
xlwt==1.3.0
youtube-dl==2019.4.30
zict==0.1.3
zope.interface==4.5.0
