dj-database-url==0.5.0
Django==2.2.2
django-cors-headers==3.0.2
django-heroku==0.3.1
djangorestframework==3.9.4
grpcio==1.12.1
gunicorn==19.9.0
h5py==2.8.0
itsdangerous==0.24
Jinja2==2.10
jsonify==0.5
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==2.6.11
MarkupSafe==1.0
requests==2.19.1
requests-oauthlib==1.2.0
tensorflow==1.11.0rc2
tweepy==3.7.0
Werkzeug==0.14.1