.dockerignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore