certifi==2020.6.20
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1

# Machine Learning libs
Keras==2.2.4
Keras-Preprocessing==1.0.5
requests==2.19.1
requests-oauthlib==1.2.0
tensorflow
tweepy==3.7.0

# Extensions
Flask-Cors==3.0.3
